<div class="col-md-4">

	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="username" class="sr-only">Email address</label>
		<input [(ngModel)]="username" type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input [(ngModel)]="password" type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" (click)="login()">Sign in</button>
	</form>
</div>
