<h1>Histori Transaksi</h1>

<button class="btn btn-primary" routerLink="/transaksi/jual">Jual Emas</button>
<button class="btn btn-primary" routerLink="/transaksi/beli">Beli Emas</button>

<hr>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th>Tanggal</th>
			<th>Keterangan</th>
			<th>Beli</th>
			<th>Jual</th>
			<th>Saldo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1 Januari 2017</td>
			<td>Saldo Awal</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>15</td>
		</tr>
		<tr>
			<td>2 Januari 2017</td>
			<td>Pembelian</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>17</td>
		</tr>

		<tr>
			<td>3 Januari 2017</td>
			<td>Penjualan</td>
			<td>&nbsp;</td>
			<td>6</td>
			<td>11</td>
		</tr>
	</tbody>
</table>

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
